* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root {
  --backgroundColor: #fffbfb;
  --shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  --grey: #f0eef1;
}

body {
  background-color: var(--grey);
}

header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1.5rem;
  font-size: 3rem;
  background-color: var(--backgroundColor);
  border-bottom: 1px solid black;
  font-weight: bold;
}

button {
  background: none;
  padding: 0;
  border: none;
  font-weight: bold;
}

.button {
  font-size: 1.2rem;
  background-color: var(--grey);
  padding: 15px;
  width: 125px;
  border-radius: 8px;
}

button:hover {
  cursor: pointer;
  background-color: #adacad;
  transition: 0.15s ease-in-out;
}

.addBook {
  display: flex;
  justify-content: center;
  padding-top: 2rem;
}

.addButton {
  font-size: 1.5rem;
  background-color: #d7d7d7;
  padding: 1rem;
  border-radius: 8px;
}

.modal {
  background-color: var(--backgroundColor);
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: all 0.3s ease-in-out;
  z-index: -1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  background-color: var(--grey);
  border-radius: 5px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
  padding: 15px 25px;
  text-align: center;
  width: 300px;
  height: 350px;
  font-size: 1.5rem;
}

.modal .open {
  opacity: 1;
  z-index: 999;
}

.submit {
  background-color: var(--backgroundColor);
  padding: 0.8rem;
  width: 180px;
  background-color: rgb(102, 209, 112);
  border-radius: 8px;
  font-size: 1.3rem;
}

input {
  padding: 0.5rem;
  border-radius: 8px;
  outline: none;
}

input::placeholder {
  font-size: 1rem;
}

.book-grid-container {
  display: grid;
}
